@{ ViewBag.Title = "About Us";}

<div class="jumbotron">
    <h1 class="display-4">About US</h1>
    <p class="lead">The best burgers in town</p>
    <hr class="my-4">
    @Html.ActionLink("Give us tour feedback", "Feedback", "Home", null, new { @class = "btn btn-primary" })
</div>