@{ ViewBag.Title = "Contact";}

<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">Please contact us at:</p>
    <p>Phone: 002844537</p>
    <p>Email: hello@burger.com</p>
    <hr class="my-4">
    @Html.ActionLink("Give us tour feedback", "Feedback", "Home", null, new { @class = "btn btn-primary" })
</div>